
/*CSS Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid grey;
  }


/*table of contents

Universal
Typography
Header
Portfolio
About me
Contact

*/

/*Universal*/


/*Typography*/

html {
  font-size: 62.5%
}

body {
  font-family: 'Raleway Dots';
  font-size: 2rem;
  color: #333;

  /*Makes font smoother*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
}

h1{
  font-size: 2rem;
}

h2{
  margin-bottom: 4vh;
}


/*Header*/


.hero-section {
  min-height: 100vh;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 5rem;
}

.grey-box {
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #ddd;
}

.hero-image {
  background-size: cover;
  background-position: center, center;
  position:absolute;
  top: 10vh;
  right: 10vh;
  width: 70vw;
  height: 80vh;
}

.hero-text {
  position:absolute;
  top: 50%;
  left: 10%;
  width: 40vw;
  height: 10vh;
}

/*Portfolio*/


}

/*About me*/

/*Contact*/
