
/*CSS Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*table of contents

Universal
Typography
Header
Portfolio
About me
Contact

*/

/*Universal*/


/*Typography*/

html {
  font-size: 62.5%
}

body {
  font-family: cursive;
  font-size: 2rem;
  color: #333;

  /*Makes font smoother*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Header*/

/*Portfolio*/

/*About me*/

/*Contact*/
