
/*CSS Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid grey;
  }


/*table of contents

Universal
Typography
Header
Portfolio
About me
Contact

*/

/*Universal*/


/*Typography*/

html {
  font-size: 62.5%
}

body {
  font-family: 'Raleway Dots';
  font-size: 2rem;
  color: #333;

  /*Makes font smoother*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
}

h1{
  font-size: 2rem;
}

h2{
  margin-bottom: 4vh;
}


/*Header*/

.top-banner {
  background-image: url("../images/giphy.gif");
  min-height: 100vh;
  background-size: cover;
}

/*Portfolio*/

/*About me*/

/*Contact*/
