<footer>

<!-- Contact me -->

  <form>

    <div class="center">

      <h4>Contact me</h4>

    </div>

    <div class="grid">

    <div class="col-4">

      <!-- <label for="name">Name</label> -->
      <input id="name" type="text" name="name" placeholder="Enter name" required>

    </div>

    <div class="col-4">

      <!-- <label for="email">Email</label> -->

      <input class="center-input" id="email" type="email" name="email" placeholder="Enter email" required>

    </div>

    <div class="col-4">

      <!-- <label for="subject">Subject</label> -->
      <input id="subject" type="text" name="subject" placeholder="Enter subject" required>

    </div>

    <div class="col-12">

      <!-- <label for="message">Message</label> -->

      <textarea id="message" name="message" placeholder="Enter your message" required></textarea>

      <input type="submit" name="submit" value="Submit">

    </div>

    </div>

  </form>



<!-- Social media links -->

  <div>

    <a href="facebook logo">Fb</a>
    <a href="instagram logo">Insta</a>
    <a href="twitter logo">Tweet</a>

  </div>


</footer>
