<head>

  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{ page.description }}">

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <!-- Google font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter|Raleway|Raleway+Dots">

  <!-- Gridlex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.5/gridlex.min.css">

  <!-- Main CSS: Keep at BOTTOM -->
  <link rel="stylesheet" href="/css/style.css">


</head>
