---
layout: default
---

<!-- Header image -->

<section class="title-image" style="background-image:url('/images/{{page.titleImage}}')">

  <div class="title-text">
    <h1>{{page.name}}</h1>
    <h2>{{page.subName}}</h2>
  </div>

  <a href="#explore" class="title-button">
    <h3>
      Explore
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </h3>
  </a>

</section>


<!-- Explore Country section -->

<section id="explore" class="padding-bottom-default explore-text">

<div class="grid max-width-default">


  <h2 class="col-12">{{page.firstSection}}</h2>

    <div class="col-6">

      <p>{{page.paragraphLeft}}</p>

    </div>

    <div class="col-6">

      <p>{{page.paragraphRight}}</p>

    </div>

</div>

</section>


<!-- Thailand text section -->

<section class="thailand-text padding-bottom-default">

  <h2>
    {{page.secondSection}}
  </h2>

<div class="grid max-width-default explore-text-right">
  <div class="col-6">
    <h3>1. {{page.paragraphHeadingOne}}</h3>
    <p>
      {{page.paragraphOne}}
    </p>
  </div>

  <div class="col-6 padding-bottom-default explore-text-right">
    <img class="image-max-width" src="/images/{{page.secondSectionImageOne}}" alt="thailand image">
  </div>
</div>

<div class="grid max-width-default">

  <div class="col-6 padding-bottom-default">
    <img class="image-max-width" src="/images/{{page.secondSectionImageTwo}}">
  </div>

  <div class="col-6">
    <h3>2. {{page.paragraphHeadingTwo}}</h3>
    <p>
      {{page.paragraphTwo}}
    </p>
  </div>
</div>

<div class="grid max-width-default explore-text-right">

  <div class="col-6">
    <h3>3. {{page.paragraphHeadingThree}}</h3>
    <p>
      {{page.paragraphThree}}
    </p>
  </div>

  <div class="col-6 padding-bottom-default explore-text-right">
    <img class="image-max-width" src="/images/{{page.secondSectionImageThree}}">
  </div>

</div>

<div class="grid max-width-default">

  <div class="col-6 padding-bottom-default">
    <img class="image-max-width" src="/images/{{page.secondSectionImageFour}}" alt="thailand image">
  </div>

  <div class="col-6">
    <h3>4. {{page.paragraphHeadingFour}}</h3>
    <p>
      {{page.paragraphFour}}
    </p>

  </div>

<!-- Images Section -->


</section>

<h2>{{page.thirdSectionTitle}}</h2>

<section class="country-images">

  {% for image in page.images %}
  <a class="country-image" href="#">

    <div class="country-content" style="background-image:url('/images/{{image.name}}')">
    </div>

  </a>
  {% endfor %}

  </section>

  <!-- Asia Portfolio Section -->
