---
layout: default
---

<!-- Header section -->

<!-- Portfolio Section -->

<section id="portfolio" class="portfolio-images">

  <a class="portfolio-image small-image" href="#">

    <div class="portfolio-content" style="background-image:url('/images/northamerica_image.jpg')">
      <h3>North America</h3>
    </div>

  </a>


  <a class="portfolio-image tall-image" href="#">

    <div class="portfolio-content" style="background-image:url('/images/europe_image.jpg')">
      <h3>Europe</h3>
    </div>

  </a>

  <a class="portfolio-image large-image" href="#">

      <div class="portfolio-content" style="background-image:url('/images/africa_image.jpg')">
      <h3>Africa</h3>
      </div>

  </a>

  <a class="portfolio-image small-image" href="#">

    <div class="portfolio-content" style="background-image:url('/images/southamerica_image.jpg')">
    <h3>South America</h3>
    </div>

  </a>

  <a class="portfolio-image" href="#">

    <div class="portfolio-content" style="background-image:url('/images/asia_image.jpg')">
    <h3>Asia</h3>
    </div>

  </a>

  <a class="portfolio-image small-image" href="#">

    <div class="portfolio-content" style="background-image:url('/images/australia_image.jpg')">
    <h3>Australia</h3>
    </div>

  </a>


</section>


<!-- Thailand text section -->

<section class="thailand-text">

  <h1>
    {{page.name}}
  </h1>

  <p>
    {{ page.top }}
  </p>

  <ul>
    <li>1. Go somewhere</li>
    <li>2. Have fun</li>
    <li>3. find a beach</li>
    <li>4. get a tan</li>
    <li>5. don't get too drunk</li>
    <li>6. ... or do</li>
  </ul>


</section>

<section class="thailand-images">

    <a class="thailand-image" href="#">

      <div class="thailand-content" style="background-image:url('/images/thailand_image_1.jpg')">
      </div>

    </a>


    <a class="thailand-image" href="#">

      <div class="thailand-content" style="background-image:url('/images/thailand_image_7.jpg')">
      </div>

    </a>

    <a class="thailand-image" href="#">

        <div class="thailand-content" style="background-image:url('/images/thailand_image_3.jpg')">
        </div>

    </a>

    <a class="thailand-image" href="#">

      <div class="thailand-content" style="background-image:url('/images/thailand_image_4.jpg')">
      </div>

    </a>

    <a class="thailand-image" href="#">

      <div class="thailand-content" style="background-image:url('/images/thailand_image_5.jpg')">
      </div>

    </a>

    <a class="thailand-image" href="#">

      <div class="thailand-content" style="background-image:url('/images/thailand_image_6.jpg')">
      </div>

    </a>

    <a class="thailand-image" href="#">

      <div class="thailand-content" style="background-image:url('/images/thailand_image_8.jpg')">
      </div>

    </a>

    <a class="thailand-image" href="#">

      <div class="thailand-content" style="background-image:url('/images/thailand_image_9.jpg')">
      </div>

    </a>

    <a class="thailand-image" href="#">

      <div class="thailand-content" style="background-image:url('/images/thailand_image_10.jpg')">
      </div>

    </a>


  </section>
